<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="log" fileName="log/application.log" append="true"
                     filePattern="log/application-%d{yyyy-MM-dd}.log">>
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <logs>
        <log name="org.apache.log4j.xml" level="debug">
            <AppenderRef ref="log"/>
        </log>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="log"/>
        </Root>
    </logs>
</Configuration>